
      
      #nameplate {
        color: aliceblue;
      }

      #honors {
        color: rgb(255, 228, 20);
      }

      #p1{
        font-size: large;
      }
      #resline1 {
        position: absolute;
        font-size: 25px;
        text-align: center;
        
      }

      h1{
        display: inline;
        margin: 8px;
      }  
      h3 {
        display: inline;
        margin: 0%;
      }

      
      .bg-1 {
        background-color: #ff3b3b; /* Red background */
        padding-top: 100px;
        padding-bottom: 120px;

      }
      .bg-2 {
        background-color: rgb(159, 160, 160);
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 100px;
        padding-right: 100px;
      }

      .bg-3 {
        padding-top: 70px;
        padding-bottom: 70px;
      }
      .bg-4 {
        color: aliceblue;
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: black;
      }
      body{
        font-family:monospace ;
      }
  